.branding {
  margin: 20px 0;
  padding: 0 10px;
  .logo {
    width: 70px;
    height: 70px;
  }
}

.user {
  margin: 20px 0;
  padding: 0 10px;
  cursor: pointer;

  .image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .user-name {
    color: $color-black;
    margin: 5px 0;
  }
  .user-title {
    font-size: 0.86rem;
    color: lighten($color-black, 50%);
  }
}

@import "navigation";

@media (max-width: $device-tablet) {
  .branding {
    display: none;
  }

  .user {
    flex: 20%;
    padding: 5px;
    margin: 0;
    .image {
      width: 30px;
      height: 30px;
    }
    .user-name,
    .user-title {
      display: none;
    }
  }

  .navigation {
    flex: 80%;
    display: flex;
  }
}
