.branding {
  margin: 20px 0;
  padding: 0 10px;
  .logo {
    width: 70px;
    height: 70px;
  }
}

.user {
  margin: 20px 0;
  padding: 0 10px;
  .image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .user-name {
    color: $color-black;
    margin: 5px 0;
  }
  .user-title {
    font-size: 0.86rem;
    color: lighten($color-black, 50%);
  }
}

@import "navigation";
