.chat-page {
  position: relative;
  max-height: 100%;

  header.mobile-menu {
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    border-bottom: 1px solid $color-white;
    background: darken($color-white, 8%);
    padding: 5px 0;

    .back,
    .to-chat {
      display: none;
    }

    .user {
      flex: 1 1 auto;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        width: 45px;
        height: 45px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid $color-blue;
        }
      }
      .details {
        padding: 0 5px;
        .name {
          font-size: 0.8rem;
        }
        .username {
          font-size: 0.8rem;
        }
      }
    }
  }

  display: flex;
  flex-direction: column;
  .messages {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding-bottom: 5px;
    .message {
      text-align: right;
      margin: 1rem 0 1rem auto;
      width: 75%;
      line-break: auto;

      .text {
        background: $color-blue;
        color: $color-white;
        font-size: 0.9rem;
        padding: 1rem;
        border-radius: 1rem 1rem 0 1rem;
      }

      .date-time {
        font-weight: 300;
        font-size: 0.7rem;
        background: transparent;
        color: lighten($color-black, 10%);
        padding: 5px 1rem;
      }

      &.received {
        text-align: left;
        margin: 1rem auto 1rem 0;

        .text {
          background: $color-white;
          color: $color-black;
          border-radius: 0 1rem 1rem 1rem;
        }
      }
    }
  }

  .message-box {
    flex: 0 1 auto;
    width: 100%;
    background: $color-white;
    padding: 0.3rem 0;
    height: 60px;

    form {
      display: flex;
      width: 100%;
      height: 100%;

      input,
      button {
        height: 45px;
        border-radius: 5px;
      }

      input {
        flex: 1 1 auto;
        outline-color: $color-blue;
        border: 1px solid darken($color-white, 30%);
        background-color: darken($color-white, 10%);
        padding: 0.75rem;

        &:focus {
          background-color: $color-white;
          outline-color: $color-blue;
        }
      }
      button {
        cursor: pointer;
        outline: 0;
        flex: 0 1 100px;
        min-width: 100px;
        border: 1px solid $color-blue;
        background: $color-blue;
        color: $color-white;
        margin-left: 0.5rem;

        .icon {
          display: none;
        }

        &:disabled {
          opacity: 0.75;
          cursor: not-allowed;
        }
        &.sending {
          cursor: wait;
        }
      }
    }
  }
}

// All Chats View
.chats-page {
  .page-title {
    padding-top: 50px;
    padding-left: 40px;
    .title {
      color: $color-black;
      font-size: 2.85rem;
      margin-bottom: 1rem;
      color: lighten($color-black, 25%);
    }
  }

  .chats {
    border-top: 1px solid rgba($color-black, 0.1);

    .chat {
      cursor: pointer;
      display: flex;
      padding: 0.75rem 0.5rem 0.7rem;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba($color-black, 0.1);

      .image {
        flex: 0 1 auto;
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid $color-blue;
        }
      }

      .details {
        flex: 1 1 auto;
        padding: 0 0.75rem;
        .name {
          font-size: 1.2rem;
          text-transform: capitalize;
        }
        .text {
          font-size: 0.9rem;
        }
        .date-time {
          font-size: 0.75rem;
          color: rgba($color-black, 0.5);
        }
      }
    }
  }
}

@media (max-width: $device-tablet) {
  .chat-page {
    header.mobile-menu {
      background: rgba($color-white, 0.9);

      .back {
        display: block;
        flex: 0 1 50px;
        text-align: center;
        padding: 10px 0;
        .icon {
          color: lighten($color-black, 40%);
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
      }
      .to-chat {
        display: block;
        flex: 0 1 50px;
        text-align: center;
        padding: 10px 0;
        .icon {
          color: lighten($color-black, 40%);
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
      }
    }

    .message-box {
      form {
        button {
          flex: 0 1 75px;
          min-width: 75px;
          .icon {
            height: 1.15rem;
            width: 1.1rem;
            vertical-align: middle;
            margin-right: 0.3rem;
            display: inline-block;
          }
          span {
            display: none;
          }
        }
      }
    }
  }

  // All Chats View
  .chats-page {
    .page-title {
      padding-left: 1rem;
      .title {
        font-size: 2.25rem;
      }
    }
  }
}

@media (max-width: $device-mobile) {
  .chat-page {
    .message-box {
      position: fixed;
      z-index: 20;
      bottom: 0;
      right: 0;
      left: 0;
      height: 50px;
      padding: 0.1rem 0.3rem 0.8rem;
      form {
        button {
          min-width: 70px;
        }
      }
    }
  }

  // All Chats View
  .chats-page {
    //
  }
}
