@import "variables";

.layout {
  display: flex;
  background-color: darken($color-white, 8%);
  height: 100vh;

  ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background: darken($color-white, 8%);
  }

  ::-webkit-scrollbar-track {
    background: $color-white;
  }

  .aside-left {
    flex: 0 1 20%;
    min-width: 250px;
    border-right: 4px solid $color-white;
    padding: 40px 1px 15px;
    overflow-y: auto;
    text-align: center;
    background-color: inherit;

    @import "aside-left";
  }

  .main {
    flex: 1 1 auto;
    // max-width: 992px;
    overflow-y: auto;
    background-color: inherit;
    min-height: 100vh;

    .page {
      padding: 0.8rem;
      min-height: 100%;
    }

    @import "home-page";
    @import "profile-page";
    @import "user-follow-page";
    @import "chat-page";
    // 
    @import "courses-page";
    @import "module-page";
    @import "notifications-page";
    @import "about-page";
    @import "contact-page";
    @import "search-page";
  }

  .aside-right {
    border-left: 4px solid $color-white;
    padding: 50px 1px 10px;
    flex: 0 1 25%;
    min-width: 300px;
    max-width: 300px;
    overflow-y: auto;
    background-color: inherit;

    display: flex;
    flex-direction: column;

    @import "aside-right";
  }
}

@media (min-width: 1200px) {
  .layout {
    .aside-right {
      min-width: 350px;
      max-width: 350px;
    }
  }
}

@media (max-width: $device-tablet) {
  .layout {
    .aside-left {
      width: 100%;
      border: 0;
      padding: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;
      border-top: 1px solid $color-blue;
      background: inherit;
      display: flex;
      max-height: 50px;
    }

    .main {
      max-width: none;
      min-width: 500px;
      flex: 1 1 auto;

      .page {
        padding: 0.4rem;
        padding-bottom: 45px;
        min-height: 100%;
      }
    }

    .aside-right {
      padding: 0.4rem;
      flex: 0 1 30%;
      min-width: 265px;
      max-width: 350px;
    }
  }
}

@media (max-width: $device-mobile) {
  .layout {
    flex-direction: column;

    .main {
      // overflow-y: visible;
      border: 0;
      min-width: auto;
      width: 100%;

      .page {
        padding: 0.25rem;
        padding-bottom: 50px;
        min-height: 100%;
      }
    }

    .aside-right {
      overflow-y: visible;
      border: 0;
      min-width: auto;
      width: 100%;
      max-width: none;
      padding-bottom: 50px;
    }
  }
}
