.notifications-page {
  padding: 50px 1px 1rem;

  .page-title {
    padding-left: 40px;

    .title {
      color: $color-black;
      font-size: 2.85rem;
      color: lighten($color-black, 25%);
    }
    p {
      margin-bottom: 1rem;
    }
    border-bottom: 1px solid $color-white;
  }

  .notification {
    display: flex;
    padding: 0.6em 0.5rem;
    margin-bottom: 1px;
    align-items: center;
    cursor: pointer;
    background: rgba($color-blue, 0.15);

    .image {
      flex: 0 1 30px;
      .image {
        width: 30px;
        height: 30px;
      }
      img {
        border-radius: 50%;
        border: 1px solid $color-blue;
      }
    }
    .text {
      flex: 1 1 auto;
      padding: 0 0.6rem;
      color: lighten($color-black, 30%);
      span {
        font-size: 1.1rem;
        color: lighten($color-black, 0%);
      }
    }
    .time {
      flex: 0 1 auto;
      padding: 0 0.3rem;
      font-size: 0.8rem;
      font-weight: 300;
    }

    &:hover,
    &.read {
      background: darken($color-white, 20%);
    }
  }
}

@media (max-width: $device-tablet) {
  .notifications-page {
    padding-top: 30px;

    .page-title {
      padding: 0;
      text-align: center;

      .title {
        font-size: 2.25rem;
      }
    }
  }
}
