.profile-page {
  background: $color-white;
  padding: 0.2rem;
  position: relative;

  header {
    background-color: darken($color-white, 8%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 250px;

    main {
      background: rgba($color-white, 0.7);
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 2;
      display: flex;
      padding: 1rem;

      .image {
        flex: 2;
        margin-top: -60px;
        img {
          border-radius: 50%;
          border: 1px solid $color-blue;
          width: 100px;
          height: 100px;
        }
      }

      .title {
        flex: 7;
        padding: 0.4rem;

        h3 {
          font-weight: 500;
          font-size: 1.5rem;
        }
        p {
          font-size: 0.95rem;
          margin: 0 0 0.2rem 0;
          small {
            font-size: 0.9rem;
          }
        }
      }

      .actions {
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
          flex: 1 1 auto;
          outline: 0;
          border: 0;
          border-radius: 5px;
          padding: 0.7rem 0.5rem;
          font-size: 0.9rem;
          cursor: pointer;
          border: 1px solid $color-blue;
          margin-right: 5px;
          height: 3rem;

          &.chat {
            flex: 0 1 auto;
            padding: 0.5rem 0.75rem;
            margin-right: 0;
            .icon {
              width: 1.2rem;
              height: 1.2rem;
            }
          }
        }
      }
    }
  }

  section.stats {
    display: flex;
    padding: 1rem;
    border-top: 1px solid rgba($color-black, 0.2);

    .stat {
      flex: 30%;
      margin: 1rem;
      text-align: center;

      .stat-value {
        font-size: 1.5rem;
        font-weight: 500;
      }
      .stat-title {
        font-size: 0.85rem;
        color: lighten($color-black, 20%);
      }
    }
  }

  section.info {
    display: flex;
    border-top: 1px solid rgba($color-black, 0.2);
    border-bottom: 1px solid rgba($color-black, 0.2);

    .bio {
      flex: 1;
      text-align: center;
      padding: 0.75rem 0;
      border-right: 1px solid rgba($color-black, 0.2);

      &:last-child {
        border-right: 0;
      }

      .title {
        font-size: 0.75rem;
        font-weight: 300;
        margin-bottom: 5px;
      }
      .content {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }

  section.about {
    padding: 1rem 1.5rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
      color: rgba($color-black, 0.9);
    }

    .bio {
      font-size: 1rem;
      font-size: 300;
      color: rgba($color-black, 0.7);
    }
  }

  section.activities-section {
    padding: 1rem 0.5rem;

    h3 {
      padding: 0 1rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: rgba($color-black, 0.9);
    }

    .activities {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .activity {
        flex: 0 1 30%;
        margin: 1rem 0.5rem;
        border-radius: 5px;
        color: rgba($color-black, 0.86);
        font-size: 0.9rem;
        min-height: 180px;
        background-color: darken($color-white, 10%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        cursor: pointer;
        border-radius: 3px;

        &:hover {
          box-shadow: 0 0 3px 3px rgba($color-black, 0.1);
        }

        .text {
          position: absolute;
          bottom: 0;
          width: 100%;
          min-height: 50px;
          padding: 0.4rem;
          background-color: rgba($color-white, 0.75);
          font-size: inherit;
          color: inherit;
          border: 1px solid darken($color-white, 10%);
          border-top-color: $color-white;
        }
      }
    }
  }
}

.edit-profile-page {
  header {
    position: relative;

    .edit-image {
      background: rgba($color-black, 0.7);
      position: absolute;
      z-index: 10;
      top: 10px;
      right: 10px;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      padding: 0.5rem;
      .icon {
        color: lighten($color-black, 70%);
        width: 100%;
        height: 100%;
      }
      .input {
        display: none;
      }
      &:hover {
        background-color: rgba($color-black, 0.65);
        .icon {
          color: $color-white;
        }
      }
    }

    main {
      .image {
        position: relative;
        .edit-image {
          top: 35px;
          left: 30px;
        }
      }
    }
  }

  position: static;
  .show-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba($color-black, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .card {
      text-align: center;
      background: $color-white;
      margin: 0.5rem;
      min-width: 350px;
      max-width: 700px;
      border-radius: 7px;

      .header {
        padding: 0.5rem;
        border-bottom: 2px solid rgba($color-black, 0.2);
        .title {
          padding: 0.8rem 0;
          font-size: 1.2rem;
        }
      }

      .body {
        padding: 1rem 0.5rem;
        p {
          margin-bottom: 1rem;
        }
        img {
          width: 80%;
        }
      }

      .footer {
        padding: 0.5rem;
        border-top: 2px solid rgba($color-black, 0.2);

        button {
          border: 1px solid $color-blue;
          border-radius: 5px;
          padding: 0.5rem 0.75rem;
          margin: 0 0.5rem;
        }
      }
    }
  }

  .about {
    .form {
      position: relative;
      .form-group {
        margin: 1.5rem 0;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 0.75rem;
        }

        .input {
          padding: 0.75rem 1rem;
          border-radius: 5px;
          font-size: 1rem;
          outline-color: $color-blue;
          border: 1px solid lighten($color-black, 50%);
          resize: none;
        }

        select.input {
          background: $color-white;
        }

        .input-group {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .input {
            flex: 1 1 48%;
            margin: 0 0.25rem 0.5rem 0.25rem;
          }
        }

        button.input {
          outline: 0;
          border: 1px solid $color-blue;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: $device-tablet) {
  .profile-page {
    header {
      main {
        padding: 0.3rem;
        flex-wrap: wrap;
        .image {
          flex: 35%;
          margin-bottom: 1rem;
          margin-top: -45px;
        }
        .title {
          flex: 65%;
          margin-bottom: 1rem;
        }
        .actions {
          flex: 100%;
        }
      }
    }

    section.stats {
      padding: 0.65rem;
    }

    section.info {
      flex-wrap: wrap;
      border-bottom: 0;

      .bio {
        flex: 50%;
        border-bottom: 1px solid rgba($color-black, 0.2);
        &:last-child {
          border-right: 1px solid rgba($color-black, 0.2);
        }
        &:nth-child(odd) {
          border-left: 1px solid rgba($color-black, 0.2);
        }
      }
    }

    section.about {
      padding: 1rem 0.5rem;

      p {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    section.activities-section {
      padding: 0.5rem;

      h3 {
        color: rgba($color-black, 0.9);
      }

      .activities {
        .activity {
          margin: 0.8rem 0.5rem;
          flex: 0 1 45%;
          min-height: 150px;
        }
      }
    }
  }

  .edit-profile-page {
    //
  }
}
