// Body
// $body-bg: #f8fafc;

// // Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// // Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// ...

$color-blue: #0e67ec;
$color-red: #f44336;
$color-green: #4caf50;
$color-black: #000000;
$color-white: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  // font-weight: 300;
}

.text-blue {
  color: $color-blue;
}
.text-red {
  color: $color-red;
}
.text-green {
  color: $color-green;
}
.text-black {
  color: $color-black;
}
.text-white {
  color: $color-white;
}

/* BACKGROUND COLOR */
.bg-blue {
  background-color: $color-blue;
}
.bg-red {
  background-color: $color-red;
}
.bg-green {
  background-color: $color-green;
}
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

// Devices
$device-tablet: 991px;
// $device-mobile: 768px;
$device-mobile: 991px;

// tags
a {
  text-decoration: none;
}

body {
  background: $color-blue;
  min-height: 100vh;
}
