@import "variables";

.login {
  display: flex;
  height: 100vh;

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    padding: 5px 15px;
    height: 50px;

    .brand {
      flex: 1;
      display: flex;
      align-items: center;
      cursor: pointer;

      .logo {
        height: 40px;
        width: 40px;
      }
      .brand-name {
        padding-left: 10px;
        font-size: 18px;
      }
    }

    .link {
      flex: 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .text {
        margin-right: 10px;
      }

      .button {
        background-color: $color-blue;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        border: 0;
        outline: 0;
      }
    }
  }

  .left {
    flex: 1;
    background: url("../assets/left_banner.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 40px;

    .greeting {
      font-size: 32px;
    }

    .login-form {
      .form-group {
        margin: 25px 0;

        &.form-alert {
          text-align: center;
          padding: 10px;
          border-radius: 5px;
          color: #ffffff;
          background-color: $color-blue;

          &.success {
            background-color: $color-green;
          }
          &.danger {
            background-color: $color-red;
          }
        }

        &.input-group {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          position: relative;

          .form-icon {
            position: absolute;
            left: 1px;
            top: 10px;
          }

          .form-input {
            flex: 0 1 100%;
            border: 0;
            border-bottom: 1px solid $color-blue;
            padding: 10px;
            padding-left: 40px;
            outline: 0;

            &:focus {
              border-color: $color-black;
              border-radius: 5px;
            }
          }

          .form-input-error {
            padding: 10px 0 0 40px;
            flex: 0 1 100%;
            font-size: 12px;
            color: $color-red;
          }
        }

        &.submit {
          text-align: center;
          .submit-btn {
            cursor: pointer;
            background: linear-gradient(90deg, $color-blue, $color-black);
            color: #ffffff;
            padding: 10px 15px;
            border: 0;
            outline: 0;
            border-radius: 4px;

            &:disabled {
              cursor: not-allowed;
              background: linear-gradient(90deg, $color-black, $color-black);
            }
          }

          .loader {
            display: inline-block;
            width: 1rem;
            height: 0.65rem;
            border-radius: 50%;
            border-top: 5px solid $color-blue;
            border-bottom: 5px solid $color-blue;
            animation: rotate linear 0.15s infinite;
            margin-right: 10px;
            margin-bottom: -7px;
          }

          @keyframes rotate {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(180deg);
            }
          }
        }
      }
    }
  }
}
