@import "variables";

.welcome-page {
  min-height: 100vh;
  align-items: center;
  background: url(../assets/svg/bg_triangles_welcome.svg),
    darken($color-white, 8%);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, center;
  background-size: 30%, cover;
  color: $color-black;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    height: 60px;
    padding: 0.4rem 1rem;
    flex: 0 1 100%;
    max-height: 60px;

    .logo {
      flex: 1;
      img {
        height: 100%;
      }
    }

    form.search {
      height: 50px;
      flex: 3;
      position: relative;
      margin: 5px 0;

      .search-icon {
        position: absolute;
        z-index: 10;
        height: 40px;
        margin: 5px 0;
        width: 1.5rem;
        left: 1rem;
      }

      input {
        height: 100%;
        width: 100%;
        border: 0;
        outline: 0;
        box-shadow: 0 0 10px 1px rgba($color-blue, 0.25);
        padding: 0.5rem 6rem 0.5rem 3rem;
        font-size: 1rem;

        &:focus {
          transition: all 0.3s ease-out;
          transform: scale(1.01);
          padding-left: 3rem;
          padding-right: 6rem;
        }
      }

      button {
        border: 0;
        outline: 0;
        padding: 0 0.8rem;
        font-size: 0.75rem;
        position: absolute;
        z-index: 10;
        right: 0.6rem;
        height: 40px;
        margin: 5px 0;
        cursor: pointer;
        border-right: 5px;
      }
    }

    .links {
      flex: 2;
      text-align: right;

      .link {
        display: inline-block;
        border: 2px solid $color-blue;
        border-radius: 4px;
        padding: 0.5rem 0.8rem;
        margin: 1rem;
        outline: 0;
      }
      .blue {
        background: $color-blue;
        color: $color-white;
      }
      .white {
        background: rgba($color-white, 0.5);
        color: $color-blue;
      }
    }
  }

  main {
    display: flex;
    flex: 0 1 100%;
    padding: 1rem;
    min-height: 65vh;

    .left {
      padding: 1rem;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-image: url("/img/bg_welcome_11.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      transition: background-image 1s ease;
    }

    .right {
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        transition: all 1s ease;

        h1 {
          font-size: 3rem;
          margin-bottom: 3rem;
        }

        p {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }

        .links {
          text-align: center;
          .link {
            border-radius: 3px;
            outline: 0;
            border: 0;
            display: inline-block;
            padding: 0.8rem 1rem;
          }
        }
      }
    }
  }

  footer {
    flex: 0 1 100%;
    min-height: 100px;
    text-align: center;

    h2 {
      margin-top: 1rem;
      font-size: 2rem;
      color: $color-blue;
      font-weight: 300;
    }

    .categories {
      padding: 1rem;
      font-size: 1.5rem;
      border-bottom: 1px solid rgba($color-black, 0.1);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .category {
        margin: 0 1rem 1rem;
      }
    }
  }
}

@media (max-width: $device-tablet) {
  .welcome-page {
    padding-top: 1rem;

    .container {
      max-width: 991px;
    }

    nav {
      display: flex;

      .links {
        .link {
          border-width: 1px;
          padding: 10px 7px;
          margin: 5px;
        }
      }
    }

    main {
      flex-direction: column;
      padding: 0;

      .left {
        min-height: 400px;
      }

      .right {
        margin-top: -0.9rem;
        text-align: center;

        h1 {
          font-size: 2.75rem;
          margin-bottom: 1.5rem;
        }

        p {
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.6;
          margin-bottom: 1.2rem;
        }
      }
    }

    footer {
      h2 {
        font-size: 1.5rem;
      }
      .course {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: $device-mobile) {
  .welcome-page {
    nav {
      max-height: none;
      flex-wrap: wrap;
      padding: 0.4rem;

      .logo {
        order: 1;
        flex: 45%;
        img {
          height: auto;
          width: 125px;
        }
      }
      .links {
        flex: 55%;
        order: 2;
      }
      form.search {
        flex: 100%;
        order: 3;
      }
    }

    main {
      .left {
        padding: 0;
        min-height: 300px;
      }
    }
  }
}
